{% extends "base.html" %}

{% block content %}
<div class="edit">
    <h1>Edit Recipe</h1>
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>
        <div>
            {{ form.prep_time.label }}
            {{ form.prep_time(class="form-control") }}
        </div>
        <div>
            {{ form.servings.label }}
            {{ form.servings(class="form-control") }}
        </div>
        <div>
            {{ form.cook_time.label }}
            {{ form.cook_time(class="form-control") }}
        </div>
        <div>
            {{ form.instructions.label }}
            {{ form.instructions(class="form-control") }}
        </div>
    <h2 id="editingred">Ingredients</h2>
    <ul id="ingreds">
        {% for ingredient in ingredients %}
            <li>{{ ingredient.ingredients }} - {{ ingredient.quantities }}</li>
        {% endfor %}
    </ul>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        {{ form.delete(class="btn btn-danger") }}
    </div>
    </form>
</div>

{% endblock %}


